//- BTN
mixin btn(className, text)
    a(
        href="javascript:void(0);"
        title=""
        data-id= text
        class="btn " + className
    )!= text
mixin btnIcon(className, text)
    a(
        href="javascript:void(0);"
        title=""
        class="btn " + className
    )
        i.btn__icon
        span(
            class="btn__text"
            data-id= text
        )!= text


//- MAIN TITLE
mixin mainTitle(className, text, attr)
    p(
        class="main__title " + className
        data-js=attr
    )
        span(
            class="main__title-text"
            data-id=text
        )!= text


//- BTN VIEW ALL
mixin btnViewAll(className)
    a(
        href="javascript:void(0);"
        title=""
        class="btn__view " + className
    )
        span(
            class="btn__view-text"
            data-id="View All"
        )!= "View All"
        i.btn__view-icon

//- PRODUCT
mixin productBox(productNum, packBool, btnBool)
    -for(var i = 0; i < productNum; i++)
        div(
            class= (i === productNum - 1) ? "product__box product__box_hide" : "product__box"
        )
            .product__img-wrap
                img(
                    src="./image/img-product.png"
                    title="Product image"
                    alt="Product image"
                    class="product__img"
                )

            .product__info-wrap
                p(
                    class="product__title"
                    title= (i % 2 == 0) ? "Viagra" : "Maximum Potency Testosterone Booster"
                )!= (i % 2 == 0) ? "Viagra" : "Maximum Potency Testosterone Booster"
                p(
                    class="product__desc"
                    data-id="Viagra is one of the best-known treatments for erectile dysfunction (ED). ED is caused by insufficient blood flow to the penis, resulting in the inability to maintain an erection. Viagra can dramatically enhance the quality of an erection by increasing blood flow to the penis. Its effect lasts for 4-6 hours. Viagra is widely known to treat PAH (pulmonary arterial hypertension)."
                )!= "Viagra is one of the best-known treatments for erectile dysfunction (ED). ED is caused by insufficient blood flow to the penis, resulting in the inability to maintain an erection. Viagra can dramatically enhance the quality of an erection by increasing blood flow to the penis. Its effect lasts for 4-6 hours. Viagra is widely known to treat PAH (pulmonary arterial hypertension)."

                p.product__price
                    span.product__price-num!= (packBool === false) ? "$2.80" : "$182.40"
                    if(packBool === false)
                        span(
                            class="product__price-text"
                            data-id="per pill"
                        )!= "per pill"
                    else
                        span(
                            class="product__price-text"
                            data-id="per 240 pill"
                        )!= "per 240 pill"

                p(
                    class="product__discount product__discount_hide"
                    data-id="75% OFF"
                )!= "75% OFF"

                if(packBool === false)
                    p(
                        class="product__sub-title"
                        data-id="Market prices:"
                    )!= "Market prices:"

                    p.product__total-price!= "$57.33 - $167.98"

                p(
                    class="product__discount"
                    data-id="75% OFF"
                )!= "75% OFF"

                if(btnBool === true)
                    +btn("btn_border product__btn", "SELECT PACK")

//- SELECT
mixin selectWrap(dataArr)
    .input__select
        span.input__select-value
        select()
            -for (var i = 0; i < dataArr.length; i++)
                option!= dataArr[i]
        span.input__select-icon--wrap
            i.input__select-icon

mixin inputWrap(className, placeholderName)
    div(
        class="form__field " + className
    )
        input(
            type="text"
            placeholder= placeholderName
            name=""
            class="input"
        )

mixin radioBtnWrap(className, idName, radioName)
    div(
        class="radio__field " + className
    )
        input(
            type="radio"
            id=idName
            name="radio"
        )
        label(for=idName)
            .radio__img-wrap
                i.radio__img
            .radio__name-wrap
                span.aligner
                span.radio__name!= radioName

//- PACK
mixin packBox(packNum)
    -for(var i = 0; i < packNum; i++)
        .pack__box
            .pack__box_top
                .pack__wrap
                    p.pack__title!= "Super Force Discount Pack"
                    .pack__img-wrap
                        img(
                            src="./image/img-product.png"
                            title="Super Force Discount Pack"
                            alt="Super Force Discount Pack"
                            class="pack__img img_responsive"
                        )
                        .pack__list
                            p(
                                class!= "pack__list-item clearfix pack__list-item_free"
                            )
                                span.pack__list-name!= "Viagra <span class='pack__list-name--free'>- FREE</span>"
                                span.pack__list-count!= "10"
                            -for(var j = 0; j < 5; j++)
                                p(
                                    class!= "pack__list-item clearfix"
                                )
                                    span.pack__list-name!= (j % 2 === 0) ? "Viagra" : "Super Force Discount Pack"
                                    span.pack__list-count!= (j > 0) ? (33 * j) : "5"

                            +btnIcon("btn__more btn_border", "MORE INFO")

            .pack__box_bottom
                .pack__select
                    -
                        var packArr = [
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00",
                            "180 pills - $135.00"
                        ];
                    +selectWrap(packArr)

                p.pack__price
                    span.pack__price-num!= "$243.80"
                    span.pack__price-off!= "75 OFF"

                +btnIcon("btn__pack", "ADD TO CART")