
.slider__row.slider__row-1.clearfix
    img(
        src="./image/img-slider-1-man.png"
        title=""
        alt=""
        class="slider__img slider__img-man"
    )

    p.slider__title!= "Free Delivery!"
    span.slider__sub-title!= "On all orders over $300"