
.slider__row.slider__row-7.clearfix
    img(
        src="./image/img-slider-7-pills.png"
        title=""
        alt=""
        class="slider__img slider__img-pills"
    )
    img(
        src="./image/img-slider-7-cloud.png"
        title=""
        alt=""
        class="slider__img slider__img-bg"
    )


    .slider__wrap

        p.slider__title!= "Virility pills"

        span.slider__sub-title!= "Day of Deals"
        span.slider__discount!= "75% OFF"

        .slider__clearfix

        .slider__price.slider__price-big.slider__price_yellow
            i.slider__price-bg-left
            span.slider__price-text!= "$130<sup>.80</sup>"
            i.slider__price-bg
            i.slider__price-bg-right