
.slider__row.slider__row-2.clearfix
    img(
        src="./image/img-slider-2-girl.png"
        title=""
        alt=""
        class="slider__img slider__img-girl"
    )

    p.slider__sub-title!= "TOLL-FREE (within UK):"
    p.slider__title-big!= "+ 1 844 241 14 68"
    p.slider__text!= "We are never closed!"