
.search__wrap
    input(
        type="text"
        name="search"
        class="search__input"
        placeholder="Search here"
    )

    a(
        href="javascript:void(0);"
        title=""
        class="search__btn search__btn-clear btn-clear-search-js"
    )
        i.search__btn-icon

    a(
        href="javascript:void(0);"
        title=""
        class="search__btn search__btn-search btn-start-search-js"
    )
        i.search__btn-icon