

.search__view
    .container
        a(
            href="javascript:void(0);"
            title="View all products"
            class="search__view-btn"
        )
            span.search__view-icon--wrap
                i.search__view-icon
            p(
                class="search__view-text"
                data-id="VIEW ALL PRODUCTS"
            )!= "VIEW ALL PRODUCTS"