
p.description-short__title!= "FREQUENTLY ASKED QUESTIONS"

p.description-short__text.description-short__text_bold!= "Q: What is Viagra?"
p.description-short__text!= "A: Viagra is one of the best-known treatments for erectile dysfunction (ED). ED is caused by insufficient blood flow to the penis, resulting in the inability to maintain an erection. Viagra can dramatically enhance the quality of an erection by increasing blood flow to the penis. Its effect lasts for 4-6 hours. Viagra is widely known to treat PAH (pulmonary arterial hypertension)."

p.description-short__text.description-short__text_bold!= "Q: What are the possible side effects of Viagra?"
p.description-short__text!= "A: Taking Viagra can induce side effects such as headache, facial flushing, upset stomach, bluish vision, blurred vision and sensitivity to light."

p.description-short__text.description-short__text_bold!= "Q: How long does Viagra last?"
p.description-short__text!= "A: Viagra lasts for 4-6 hours."

p.description-short__text.description-short__text_bold!= "Q: What should I avoid while taking Viagra?"
p.description-short__text!= "A: Viagra is best taken on an empty stomach, as fatty meals, grapefruit juice and alcohol can interfere with the effectiveness of the medication. Try not to consume alcohol while using Viagra, as it can lower your blood pressure, causing dizziness and rapid heart rate (tachycardia)."

p.description-short__text.description-short__text_bold!= "Q: When should I take Viagra?"
p.description-short__text!= "A: Take one Viagra pill orally with a full glass of water, 30-60 minutes before sex."

p.description-short__text.description-short__text_bold!= "Q: Who can take Viagra?"
p.description-short__text!= "A: Viagra is an anti-impotence drug for men who are in good health."
