
p.description-short__title
    | Viagra (
    a(
        href="javascript:void(0);"
        title="Sildenafil"
        class="description-short__btn"
    )!= "Sildenafil"
    span.description-short__text!= " 100mg)"
    span.description-short__free!= " - FREE"

p.description-short__title
    | Viagra Super Force (
    a(
        href="javascript:void(0);"
        title="Sildenafil"
        class="description-short__btn"
    )!= "Sildenafil"
    span.description-short__text!= " 100mg + "
    a(
        href="javascript:void(0);"
        title="Dapoxetine"
        class="description-short__btn"
    )!= "Dapoxetine"
    span.description-short__text!= " 60mg)"
p.description-short__title
    | Viagra (
    a(
        href="javascript:void(0);"
        title="Sildenafil"
        class="description-short__btn"
    )!= "Sildenafil"
    span.description-short__text!= " 100mg)"
    span.description-short__free!= " - FREE"

p.description-short__title
    | Viagra Super Force (
    a(
        href="javascript:void(0);"
        title="Sildenafil"
        class="description-short__btn"
    )!= "Sildenafil"
    span.description-short__text!= " 100mg + "
    a(
        href="javascript:void(0);"
        title="Dapoxetine"
        class="description-short__btn"
    )!= "Dapoxetine"
    span.description-short__text!= " 60mg)"

