
p.description-short__title!= "Alex Sanders <span class='description-short__text_data'>2014-03-07</span>"
p.description-short__text!= "There was few things I was really impressed: 1st – i found all I need when other pharmacies didn't have it, 2nd: the prices, 3rd: quick delivery. Super easy and comfortable. Pills go to my place and I don't have to go to several shops to find it all! You should try it."

p.description-short__title!= "Jeremy O'Malley <span class='description-short__text_data'>2014-03-07</span>"
p.description-short__text!= "My wife and I had a problem of an intimate nature. But none of us did not dare to apply for a doctor. Luckily we found this website and decided to try. We are very pleased that you have such a large stock of goods, and you offer pills not only for men but also for women. We have used this company for ordering Female Viagra and Viagra Gold and have found your service and website to be excellent and will continue to use it and would highly recommend you!"

p.description-short__title!= "tiny_dancer11 <span class='description-short__text_data'>2014-03-07</span>"
p.description-short__text!= "There are sooo many chemists you can bump into on my neighborhood. But the problem is: cost for drugs are too expensive!!! Somehow i found this low cost web site. Placed order and bam! Got voicemail from somebody to “verify an order”. First thing on my mind was somebody trying to cheat on me. But then got an e-mail with same query and replied. Jammy it was just a sort of security tactic. I got my order and i'm happy with it. And know what – nobody tried to charge me again for nothing (believe me checked dozen times my account after all). Not scam. Good job lads!"

p.description-short__title!= "Hannes <span class='description-short__text_data'>2014-03-07</span>"
p.description-short__text!= "Die Preise sind bei euch fantastisch und ich merk keinen Unterschied zum Original. Muss aber sagen, dass ich echt misstrauisch war, als ich herausfand, dass das Zeug aus China kommt, war aber schon zu spät, da die Ware schon auf dem Weg war. Ach was solls, dacht ich mir und hab abgewartet bis alles ankommt. Nun, ich bin zufrieden und werde bestimmt nochmal bestellen."

p.description-short__title!= "Benni200 <span class='description-short__text_data'>2014-03-07</span>"
p.description-short__text!= "In die Schweiz darf man ja keine großen Mengen von Sildenafil einführen, also quasi nur eine Monatsmenge von 3000mg, also musst ich mir ein 30er Pack nehmen. Ist zwar schade, aber dagegen könnt ihr ja nix. Außerdem warnen unsere Behörden ständig, dass keine Tabletten aus dem Internet gekauft werden sollten, da alles eh Schwindel und Betrug ist. Nachdem ich aber euer Präparat bekommen habe kann ich getrost sagen, dass die alle nur ihren eigenen Markt halten wollen, ich sehe keinen Unterschied zwischen den Produkten. Ich werde bestimmt nochmal bei euch einkaufen, da könnt ihr sicher sein!"
