
.category__view
    a(
        href="javascript:void(0);"
        title="Product view grid"
        class="category__view-btn category__view-grid active btn-view-js"
        data-view="grid"
    )
        i.category__view-icon
        span.category__view-text!= "Grid"
    a(
        href="javascript:void(0);"
        title="Product view list"
        class="category__view-btn category__view-list btn-view-js"
        data-view="list"
    )
        i.category__view-icon
        span.category__view-text!= "List"
    a(
        href="javascript:void(0);"
        title="Product view gallery"
        class="category__view-btn category__view-gallery btn-view-js"
        data-view="gallery"
    )
        i.category__view-icon
        span.category__view-text!= "Gallery"