
a(
    href="javascript:void(0);"
    title="Btn go to top"
    class="go-top btn-goTop-js"
)
    i.go-top__icon
    p(
        class="go-top__text"
        data-id="Top of page"
    )!= "Top of page"
    i.go-top__icon-hide