
a(
    href="/"
    title="Logotype"
    class="logotype"
)
    img(
        src="./image/img-logotype@2x.png"
        title="Canada Pharmacy exclusive discount-store"
        alt="Canada Pharmacy exclusive discount-store"
        class="logotype__img logotype__img_large"
    )
    img(
        src="./image/img-logotype-medium@2x.png"
        title="Canada Pharmacy exclusive discount-store"
        alt="Canada Pharmacy exclusive discount-store"
        class="logotype__img logotype__img_medium logotype__img_retina"
    )
