
.slide__letter
    .slide__letter-header.clearfix
        a(
            href="javascript:void(0);"
            title="Back to Search"
            class="slide__letter-back"
        )
            i.slide__letter-back-icon
            span(
                class="slide__letter-back-text"
                data-id="Back to Search"
            ) Back to Search

    include ./_macros/_letter/letter-row