
.support
    p(
        class="support__title"
        data-id="Support"
    )!= "Support"

    p(
        class="support__tool-free"
    )
        span(
            class="support__tool-free-text"
            data-id="Toll-Free Phone:"
        )!= "Toll-Free Phone:"
        a(
            href="tel:+18442411468"
            title="+1 844 241 14 68"
            class="support__tool-free-btn"
        )!= "+1 844 241 14 68"

    p(
        class="support__work"
        data-id="Working hours: 9:00 am - 11:00 pm (ET UTC-05:00)"
    )!= "Working hours: 9:00 am - 11:00 pm (ET UTC-05:00)"

    p(
        class="support__email"
    )
        span(
            class="support__email-text"
            data-id="Email:"
        )!= "Email:"
        a(
            href="mailto:support@osscustomersupport.com"
            title="support@osscustomersupport.com"
            class="support__email-btn"
        )!= "support@osscustomersupport.com"
    p(
        class="support__service"
    )
        span(
            class="support__service-text"
            data-id="Customer Support Service:"
        )!= "Customer Support Service:"
        a(
            href="mailto:http://oss.beta.sea"
            title="http://oss.beta.sea"
            class="support__service-btn"
        )!= "http://oss.beta.sea >"