include _mixin/mixin
include _mixin/macrosMixin

doctype html
// if JavaScript disable in page add class "no-js"
html(
    lang="en"
    class="js"
)


    +headSite("506 CHECKOUT STEP 1", linkSite.styleLinkIndex, "")

    // open-menu open-popup cart_fill
    body(class="cart_fill")


        include _template/header-checkout


        .body__row.body__checkout

            .body__row--left
            .body__row--right

            .container.clearfix
                .body__row_left
                    .body__row_wrap

                        include _template/breadcrumbs

                        p.basket__title.basket__title_center!= "You have already made orders with us?"

                        .btn__ordered-wrap
                            +btn("btn_border btn__ordered", "YES, I HAVE ORDERED")

                        .either
                            span.either__text!= "OR"
                            i.either__line

                        .main__title-wrap.clearfix
                            +mainTitle("main__title_left", "Customer Info")

                        +inputWrap("form__email", "E-Mail")

                        .main__title-wrap.clearfix
                            +mainTitle("main__title_left", "Shipping Address")

                        .form__field-wrap.clearfix
                            +inputWrap("form__first-name", "First Name")
                            +inputWrap("form__last-name", "Last Name")

                        p.basket__title!= "Choose Your Gender:"

                        .radio.clearfix
                            +radioBtnWrap("active", "0", "Male")
                            +radioBtnWrap("", "1", "Female")
                            +radioBtnWrap("", "2", "Other")

                        -
                            var checkoutArrSelect = [
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00",
                                "180 pills - $135.00"
                            ];

                        .form__field-wrap.clearfix
                            .form__select.form__select-counrty
                                +selectWrap(checkoutArrSelect)
                            .form__select.form__select-state
                                +selectWrap(checkoutArrSelect)

                        .form__field-wrap.clearfix
                            +inputWrap("form__city", "City")
                            +inputWrap("form__postCode", "Post Code")

                        +inputWrap("form__address", "Address")
                        +inputWrap("form__phone", "Phone")

                        p.basket__info.basket__info_left!= "Total amount of the invoice will be shown in USD <span class='basket__info_color'>($466.15)</span> In some cases the actual charged amount may differ from the total invoice amount due to the foreign transaction fee. You will have a chance to review your order before it is placed."

                        include _template/_macros/_basket/btn

                        include _template/footer-checkout

                        include _template/bottom-certificate

                .body__row_right
                    .body__row_wrap

                        p.basket__main-title
                            i.basket__main-title-icon
                            != "Order Summary"

                        -for(var i = 0; i < 2; i++)
                            include _template/_macros/_basket/box

                        include _template/_macros/_basket/total

                        include _template/_macros/_basket/main-total


    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])