include _mixin/mixin
include _mixin/macrosMixin

doctype html
// if JavaScript disable in page add class "no-js"
html(
    lang="en"
    class="js"
)


    +headSite("506 CHECKOUT STEP 1", linkSite.styleLinkIndex, "")

    // open-menu open-popup cart_fill
    body(class="cart_fill")


        include _template/header-checkout


        .body__row.body__checkout

            .body__row--left
            .body__row--right

            .container.clearfix
                .body__row_left
                    .body__row_wrap

                        include _template/breadcrumbs

                        p.basket__title.basket__title_center!= "You have already made orders with us?"

                        .btn__ordered-wrap
                            +btn("btn_border btn__ordered", "YES, I HAVE ORDERED")

                        .main__title-wrap.clearfix
                            +mainTitle("main__title_left", "Customer Info")

                        .form__field.form__email
                            input(
                                type="text"
                                placeholder="E-Mail"
                                name=""
                                class="input"
                            )

                        .main__title-wrap.clearfix
                            +mainTitle("main__title_left", "Shipping Address")

                        p.basket__title!= "Choose Your Gender:"

                        .form__field.form__address
                            input(
                                type="text"
                                placeholder="Address"
                                name=""
                                class="input"
                            )
                        .form__field.form__phone
                            input(
                                type="text"
                                placeholder="Phone"
                                name=""
                                class="input"
                            )

                        p.basket__info.basket__info_left!= "Total amount of the invoice will be shown in USD <span class='basket__info_color'>($466.15)</span> In some cases the actual charged amount may differ from the total invoice amount due to the foreign transaction fee. You will have a chance to review your order before it is placed."

                        include _template/_macros/_basket/btn

                .body__row_right
                    .body__row_wrap

                        p.basket__main-title
                            i.basket__main-title-icon
                            != "Order Summary"

                        -for(var i = 0; i < 2; i++)
                            include _template/_macros/_basket/box

                        include _template/_macros/_basket/total

                        include _template/_macros/_basket/main-total


        //div(class="lang__btn", style="text-align:center; padding-top:50px; padding-bottom:15px; position:relative; z-index;100;")
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="en"
        //    )!= "|| -- EN -- ||"
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="de"
        //    )!= "-- DE -- ||"
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="fr"
        //    )!= "-- FR -- ||"
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="it"
        //    )!= "-- IT -- ||"
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="pt"
        //    )!= "-- PT -- ||"
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="es"
        //    )!= "-- ES -- ||"
        //    a(
        //    href="javascript:void(0);"
        //    data-lang="jp"
        //    )!= "-- JP -- ||"
        //
        //

    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])