
.basket__total-wrap
    p.basket__total.basket__total_top.clearfix
        span.basket__total-text!= "Subtotal:"
        span.basket__total-num!= "$15211.0"
    p.basket__total.clearfix
        span.basket__total-text!= "Discount 10%"
        span.basket__total-num!= "-$15.12"
    p.basket__total.clearfix
        span.basket__total-text!= "Price Including All Discounts:"
        span.basket__total-num!= "$1521.0"